body{
	margin:0;
font-family: Courier New, Arial, sans-serif;

font-size: 18px;
line-height: 30px;
color: #164D1E
}

/*Header Style*/

header{
	background-color: #9AF19B;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}


h1, h2{
	font-family: 'Indie Flower', cursive;

}
header h1{
	color:#274B78;
	font-size: 60px;

}

header img{
	  border-radius: 100px;
    width: 300px;
    border: 10px solid #23A73D;
}

}

main{
	max-width: 800px;
	margin:0 auto;
	padding:0 20px;
}


main img{

	padding-left: 20px;
	max-width: 100%;
	height:auto;
}


h2{
	font-size: 35px;
	color:#1A1D4F;
	margin: 40px 0 10px;
}


a{
	color: #264532;
}
a:hover{
	color:#266632;
	}

footer{
	background-color: #9AF19B;
	text-align: center;
	color:white;

}
footer a{
	color:white;
}
footer p{
	margin: 0;
	padding: 20px;
}
footer a:hover{
	color:black;
	background-color:#9AF19B;
	
}

p.caption{
	color: #24B8BF;
	font-style: italic;
	margin-top: 0;
}
